iframe{
  height: 100%;
  width: 100%;
  border: 1px solid #eee;
}
.ide-pane{
  position: relative;
}
.emulator{
  position: absolute;
  right: -55px;
  top: 50%;
  color: #999;
  height: 30px;
  line-height: 30px;
  width: 140px;
  text-align: center;
  cursor: pointer;
  transform: rotate(90deg);
  background: #fff;
  border-radius: 0 0 8px 8px;
}
.emulator:hover{
  color: #000;
}