/* 改变主题色变量 */
$--color-primary: #242D63;
$--color-success: #1ecd78;
$--color-warning: #ff7d14;
$--color-danger: #f03f1c;
$--color-info: #04a0f8;
$--color-lightPurple: #656ea7;

/* 改变 icon 字体路径变量，必需 */
$--font-path: '~element-ui/lib/theme-chalk/fonts';

@import "~element-ui/packages/theme-chalk/src/index";

.el-dialog__header{
    padding: 15px 20px;
    background-color: rgba(49, 54, 74, 0.15);
}
.el-dialog__headerbtn .el-dialog__close{
    position: relative;
    color: #242D63;
    width: 30px;
    height: 30px;
    line-height: 30px;
    top: -8px;
    right: -8px;
    transition: all 0.2s;
    &:hover{
        border-radius: 50%;
        background-color: #ccc;
        opacity: 0.9;        
    }
}
.el-dropdown-menu__item{
    a{
        display: block;
        text-align: center;
    }
}
.el-tag.el-tag--info{
    color: $--color-primary;
    background-color: #fff;
    border-color: $--color-lightPurple;
    .el-tag__close{
        color: $--color-primary;
        &:hover{
            background-color: $--color-lightPurple;
        }
    }
}
.el-form--label-top .el-form-item__label{
    padding-bottom: 0;
}
.el-textarea .el-input__count{
    color: $--color-primary;
    line-height: 20px;
}
.el-button{
    &.is-disabled{
        color: #C0C4CC !important;
        background-color: #fff !important;
        border-color: #EBEEF5 !important;
    }
    &:hover{
        opacity: 0.9;
    }
}
.el-button--success{
    background-color:$--color-primary !important;
    border-color: $--color-primary !important;
}
.el-button--text:hover, .el-button--text:focus{
    color: #FF7335;
}
.iconfont{
    transition: all 0.2s;
    transform: scale(1);
    transform-origin: center;
    &:hover{
        transform: scale(1.5);
        opacity: 0.8;   
    }
}

/* table */
.el-table {
    th{
        background-color: rgba(36, 45, 99, 0.9);
        color: #fff
    }
}

.el-message-box__headerbtn{
    .el-icon-close{
        color: #242D63;
    }
}