logs/
npm-debug.log
yarn-error.log
node_modules/
package-lock.json
yarn.lock
coverage/
.idea/
run/
.DS_Store
*.sw*
*.un~
typings/
.nyc_output/
.happypack/
dist
static
public
private
*.iml
*tmp
_site
.vscode
config/manifest.json
app/view/*
!app/view/layout.html
!app/view/.gitkeep
projects/*
!projects/tool
!projects/template
